<div style="    background-size: 100% auto;
height: 100vh;width: 100%;background-image: url(../../assets/back.jpg);">
<img src="../../assets/logo.png" style="margin-top: 3%;">
<div style="margin-top:5%;margin-left: 10%;width: 100%;">
    <div style="text-align: center;width: 20%;">
<div style="width: 100%; ">
    <input type="text" style="margin: 10px; height: 20px;width: 250px;" placeholder="Email">
</div>
<div style="width: 100%;">
    <input type="password" style="margin: 10px; height: 20px;width: 250px;" placeholder="Password">
</div>
<div style="width: 100%;">
    <button style="margin: 10px; height: 20px;width: 120px;">Login</button>
</div>
</div>
</div>
</div>